Updates 06/29/2019 - fixed too many reads/writes to db; Disabled training event selection in the games tab.  
<br>
<br>
Welcome VB Trainers and Coaches!  
<br>
The intent is to create a simple and free tool assisting your important works so 
coaches and trainers can save plan times and focus on the athlete development aspects.  
The tool allows you to quickly organizing (2vs2 or 3vs3 or 4vs4) games at anytime, then tracking scores, and then ranking them accordingly.  

Follow these outline steps:
<ul><img src="assets/img/icons/assignment.svg" alt="Step 2" height="24" width="24">Step 1) Check in players or add if player not existed.  When done, select the "Lets Go" button and it takes to the next step </ul>
<ul><img src="assets/img/icons/volleyball1.svg" alt="Step 3" height="24" width="24">Step 2) In the "Games" tab, the "RE-GENERATE" automatically randomizes players and assigns them by the team to a net; **go back to check-in step to rebalance the pool if needed.</ul>
<ul><img src="assets/img/icons/volleyball1.svg" alt="Step 3" height="24" width="24">Step 3) When the game finishes, enter the differential point by team #;  Winner #, Loser #, and then diff point accordingly</ul>
<ul>Step 4) In the "Rank" tab, the player(s) are sorted by highest to lowest subsequently.</ul>
**All data are stored in reference to the training event context.  Each year you limited to four pre-defined training events (Spring, Summer, Fall, and Winter).
<br>
Disclaimer(s):  All the features in this app are created during summer practices for my own purpose.  
In order to keep the cost burden down and to promote the wonderful game of volleyball, 
the app is hosted on aws cloud platform and all data older than 2 years will be purged.  
I'd like to share the app with other great coaches who have same passion but limited resources.  However, this app can ONLY be used AS-IS 
with no commitment for full support.  
<br>
Let have games teach games!
<br>
--ThyNgon Tran <br>
thyngontran@gmail.com<br>
Opensource repo: https://github.com/thyngontran/portal.git

<br>
<br>

<a [routerLink]="['/vtc/checkin']"><img src="assets/img/icons/assignment.svg">Next: Check In</a>
