<br>
<br>
Welcome VB Trainers and Coaches!  
<br>
The intent is to create a simple and free tool assisting your important works so 
coaches and trainers can save plan times and focus on the other athlete development aspects.  
The tool allows you to quickly organizing (2vs2 or 3vs3 or 4vs4) games at anytime.  

Follow these outline steps:
<ul><img src="assets/img/icons/assignment.svg" alt="Step 2" height="24" width="24">Step 1) Check in each player.  When done, select the "Lets Go" button and it takes to the next step </ul>
<ul><img src="assets/img/icons/volleyball1.svg" alt="Step 3" height="24" width="24">Step 2) In the "Games" tab, the "RE-GENERATE" automatically randomizes players and assigns them by the team to a net; **go back to check-in screen to rebalance the pool if needed.</ul>
<ul><img src="assets/img/icons/volleyball1.svg" alt="Step 3" height="24" width="24">Step 3) When the game finishes, enter the differential point by team #;  Winner #, Loser #, and then diff point accordingly</ul>
<ul>Step 4) In the "Rank" tab, the player(s) are sorted by highest to lowest subsequently.</ul>
<br>
Disclaimer(s):  All the features in this app are created during summer practices for my own purpose.  
In order to keep the cost burden down and to promote the wonderful game of volleyball, 
the app is hosted on aws cloud platform and all data older than 2 years will be purged.  
I'd like to share the app to other great coaches who have limited resources.  However this app can ONLY be used AS-IS 
with no commitment for full support.  
<br>
Let have games teach games!
<br>
--ThyNgon Tran <br>
thyngontran@gmail.com<br>
Opensource repo: https://github.com/thyngontran/portal.git
