<br>
<br>
The intent is to create a simple and free tool for organizing (2vs2 or 3vs3) the linear game/league/tournament.  Follow these three simple admin steps:
    <ul>Step 1) Check in players; </ul>
    <ul>Step 2) <img src="assets/img/icons/assignment.svg" alt="Step 2" height="24" width="24">Auto randomize players and assign to team by net; </ul>
    <ul>Step 3) <img src="assets/img/icons/volleyball1.svg" alt="Step 3" height="24" width="24">Track score by team and point differential.  </ul>
For demo purpose, pre-populated players below are fictional names.  Feel free to add new players and fiddle around but data won't be saved til your have an account.  **Register and login to get your own workspace that includes full features of ranking display.
<br>

<br>
<hr>
