<div class="form-inline">
<select required maxlength="10" [(ngModel)]="selectedSite" name="site" (ngModelChange)="onSelectSite()"
  class="form-control">
  <option *ngFor="let site of sites" [value]="site">{{site}}</option>
</select> 
  <button class="btn btn-primary btn-sm" (click)="letsGo()">LETS GO</button>
</div>
<br>

<!-- input [(ngModel)]="newPlayerId" placeholder="Player ID" -->
<div class="form-inline">
 
<input [(ngModel)]="newPlayerName" placeholder="Enter New Player" class="form-control" required>
<div class="form-group">
      <label for="group">Pool:</label>
      <select class="form-control" id="group" required [(ngModel)]="newGroup" name="newGroup">
        <option *ngFor="let group of pools" [value]="group">{{group}}</option>
      </select>
  <div class="checkbox">
    <label>
      <input type="checkbox" [(ngModel)]="newCheckin" placeholder="Checkin">Checkin
    </label>
    <button class="btn btn-primary btn-sm" (click)="addPlayer()">Add</button>
  </div>
</div>
</div>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><input [(ngModel)]="searchKeyword" placeholder="Search Word" size="10" class="form-control"></th>
    <th width="30%">Player Name</th>
    <th (click)="checkInAll()">Checkin</th>
    <th>Skill Level</th>
  </tr>
  <tr *ngFor="let player of players | filter : searchKeyword; index as i">
    <td>{{i+1}}</td>
    <td><button (click)="savePlayer(player)" class="btn btn-primary btn-sm">Save</button></td>
    <td>{{player.name}}</td>
    <td><input type="checkbox" [(ngModel)]="player.checkin" placeholder="Checkin">
    </td>
    <td>
      <select class="form-control" required maxlength="10" [(ngModel)]="player.groupName" name="pool">
        <option *ngFor="let group of pools" [value]="group">{{group}}</option>
      </select>
    </td>
  </tr>

</table>

<!--{{totalCheckin()}} out of {{players.length}} -->
<br>
<hr>