<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Portal</a>
          <div class="navbar-header" align="center">
            <h3>Event</h3>
          </div>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li><a [routerLink]="['/securehome/myprofile']"><i class="fa fa-user fa-fw"></i> User
                      Profile</a>
                  </li>
                    <li class="divider"></li>
                    <li><a [routerLink]="['/securehome/logout']">Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a [routerLink]="['/event/main']"><i class="fa fa-dashboard fa-fw"></i>Main</a>
                    </li>
                    <li>
                        <a [routerLink]="['/event/checkin']"><i class="fa fa-dashboard fa-fw"></i>Registration/Check In</a>
                    </li>
                    <li>
                        <a [routerLink]="['/event/bjerring']"><img src="assets/img/icons/assignment.svg">Bjerring</a>
                    </li>
                    <li>
                        <a [routerLink]="['/event/team']"><img src="assets/img/icons/assignment.svg">Team</a>
                    </li>
                    <li>
                        <a [routerLink]="['/event/scoreboard']"><img src="assets/img/icons/volleyball1.svg">Score Board</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <router-outlet></router-outlet>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
